<form class="site-search d-flex" action="https://www.salesbridgett.com/search/" method="get" id="search-form">
  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="search-form-input">
  <button class="site-search__submit btn btn-outline-light border-0" type="submit" aria-label="Search">
  {% include "@sales/icons/_icons.twig" with {
    icon_name: 'search',
    icon_base_class: 'site-search__icon'
  } %}
</button>
</form>
