<div class="footer-signup-block mb-4">
{# {{ mailinglist_body.value | raw }}
{% if mailinglist_id and mailinglist_source %}
  <script type="text/javascript" id="{{ mailinglist_id }}" src="{{ mailinglist_source }}" async></script>
{% endif %}
{% if storybook_raw_script %}
  {{ storybook_raw_script | raw }}
{% endif %} #}
</div>
