{% set unique = 'featured-image--id-' ~ random() %}
{% if items|length > 1 %}
  <div class="feature-image feature-image--carousel carousel slide" data-bs-ride="carousel" id="{{unique}}">
    <div class="carousel-inner">
      {% block carousel_items %}
        {% for item in items %}
          <div class="carousel-item {% if loop.first %}active{% endif %}">

          </div>
        {% endfor %}
      {% endblock %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#{{unique}}" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#{{unique}}" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
{% else %}
  <div class="feature-image">
    {% block featured_item %}

    {% endblock %}
  </div>
{% endif %}
