.footer-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style: none;
  padding-left: 0;

  a {
    font-size: 0.875em;
    text-transform: uppercase;
  }

  @media (max-width: 767.98px) {
    flex-direction: column;
  }
}
